<form action="/abrigoUpdate" method="post">
    <input type="hidden" name="id" value={{abrigo.id}}>
    Nome: <input type="text" name="nome"  value="{{abrigo.nome}}">
    <br> <br>
    Endereço: <input type="text" name="endereco"  value="{{abrigo.endereco}}">
    <br> <br>
    Telefone: <input type="text" name="telefone" value="{{abrigo.telefone}}">
    <br> <br>
    Email: <input type="text" name="email" value="{{abrigo.email}}">
    <br> <br>
    <input type="submit" value="Editar">
</form>
