<table border="1px">
    <tr>
        <td scope="col"> Nome </td>
        <td scope="col"> endereco </td>
        <td scope="col"> telefone </td>
        <td scope="col"> email: </td>
        {{#if admin}}
        <td scope="col"> Editar </td>
        <td scope="col"> Deletar </td>
        {{/if}}
    </tr>
    {{#each abrigos}}
    <tr>
        <th scope="row">{{nome}}</th>
        <th scope="row">{{endereco}}</th>
        <th scope="row">{{telefone}}</th>
        <th scope="row">{{email}}</th>
        {{#if ../admin}}
        <td><a href="abrigoUpdate/{{id}}">Editar</a></td>
        <td><a href="abrigoDelete/{{id}}">Deletar</a></td>
        {{/if}}
    </tr>
    {{/each}}
</table>