<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Sexo </td>
        <td> Data de Nascimento </td>
        <td> Abrigo Associado: </td>
        <td> Especie </td>
        <td> Castrado </td>
        <td> Porte </td>
        <td> Raça </td>
        {{#if admin}}
        <td> Editar </td>
        <td> Deletar </td>
        {{/if}}
    </tr>
    {{#each animais}}
    <tr>
        <td>{{nome}}</td>
        <td>{{sexo}}</td>
        <td>{{dataNascimento}}</td>
        <td>{{abrigoId}}</td>
        <td>{{especie}}</td>
        <td>{{castrado}}</td>
        <td>{{porte}}</td>
        <td>{{raca}}</td>
        {{#if ../admin}}
        <td><a href="animalUpdate/{{id}}">Editar</a></td>
        <td><a href="animalDelete/{{id}}">Deletar</a></td>
        {{/if}}
    </tr>
    {{/each}}
</table>