{{#each animais}}
<div>
    <h1>{{nome}}</h1>
    <p>{{sexo}}</h2>
    <p>{{dataNascimento}}</p>
    <p>{{especie}}</p>
    <p>{{raca}}</p>
    <p>{{castrado}}</p>
    <p>{{doencas}}</p>
    <p>{{informacoes}}</p>
</div>
<hr>
{{/each}}