<form action="/animalUpdate" method="post">
    <input type="hidden" name="id" value={{animal.id}}>
    Nome: <input type="text" name="nome"  value="{{animal.nome}}">
    <br> <br>
    Data de Nascimento: <input type="text" name="dataNascimento"  value="{{animal.dataNascimento}}">
    <br> <br>
    Castrado: <input type="text" name="castrado" value="{{animal.castrado}}">
    <br> <br>
    Especie:
    <input type="text" name="especie" value="{{animal.especie}}">
    <br> <br>
    Porte: <input type="text" name="porte" value="{{animal.porte}}">
    <br> <br>
    Raca: <input type="text" name="raca" value="{{animal.raca}}">
    <br> <br>
    <input type="submit" value="Editar">
</form>
